.mr-2
{
    margin-left: 70px;
}
.custom{
    width: 50%!important;
}
.modal{
    margin-right: -20px!important;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 700px){
    .mr-2{
        margin-left: 30px;
    }
    .custom{
        width: 100%!important;
    }
}
@media only screen and (min-device-width: 710px) and (max-device-width: 1400px){
    .mr-2{
        margin-left: 20px;
    }
    .custom{
        width: 70%!important;
    }
}
@media only screen and (min-device-width: 1400px) and (max-device-width: 1424px){
    .mr-2{
        margin-left: 50px;
    }
}
@media only screen and (min-device-width: 1425px) and (max-device-width: 1524px){
    .mr-2{
        margin-left: 60px;
    }
}
